<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBuddy Registration</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">

</head>
<body>

<div class="container">

    <h2>Create Account</h2>

    <form action="{% url 'accounts:registration' %}" method="POST">

        {% csrf_token %}

        <label for="username">Username</label>
        <input
            type="text"
            id="username"
            name="username"
            required
            minlength="3"
            maxlength="50"
        >

        <label for="email">Email</label>
        <input
            type="email"
            id="email"
            name="email"
            required
            maxlength="50"
        >

        <label for="password">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            required
            minlength="8"
            maxlength="255"
        >

        <button type="submit">Register</button>
    </form>

    <div class="login-link">
        Already have an account?
        <a href="{% url 'accounts:login' %}">Log in</a>
    </div>
</div>


    {% if messages %}
        <div class="message">
        {% for message in messages %}
            
            {{ message}}
            
        {% endfor %}
        </div>
    {% endif %}


</body>
</html>